body {
  background-color: #63ff73;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  color: #0D47A1;
  font-size: 25px; 
}

hr {
  border: 2px solid #0D47A1;
}

nav {
  padding: 10px 30px; 
  display: flex;
  margin-left: 150px; 
  margin-right: 150px; 
  justify-content: space-between;
}

nav a {
  text-decoration: none; 
  font-size: 20px;
  color: #0D47A1;
}

nav a:hover {
  color: #448AFF; 
}

article {
  margin: 30px; 
}

aside {
  margin: 30px; 
}

footer {
  background-color: #00C853;
  color: black;
  padding: 1.5rem 2rem;
  text-align: center;
}

footer a {
  color: #0D47A1; 
}

footer a:hover {
  color: #448AFF; 
}


